<%- include("partials/header.ejs") %>
<body>
  
  <h1>Updating Quote</h1>

    <form method="POST" action="/quote/edit">

      <input type="hidden" name="quoteId" value="<%=quoteInfo[0].quoteId%>">

      Quote Text:
      <textarea name="quoteText" rows="4" cols="50"><%= quoteInfo[0].quote %></textarea>
      <br>

      Author:<br>
    <select name="authorId" required>
      <% authors.forEach(author => { %>
        <option value="<%= author.authorId %>" 
          <%= author.authorId === quoteInfo[0].authorId ? 'selected' : '' %>>
          <%= author.firstName %> <%= author.lastName %>
        </option>
      <% }) %>
    </select>
    <br>

    Category:<br>
    <select name="category" required>
      <% categories.forEach(cat => { %>
        <option value="<%= cat %>" 
          <%= cat === quoteInfo[0].category ? 'selected' : '' %>>
          <%= cat %>
        </option>
      <% }) %>
    </select>
    <br>

    Likes:<br>
    <input type="number" name="likes" value="<%= quoteInfo[0].likes || 0 %>">
    <br><br>

      <button>Update Quote</button>

    </form> 
    <%- include("partials/footer.ejs") %> 
</body>
</html>
