  <%- include("partials/header.ejs") %>
  <h1>Adding a new Quote</h1>


    <form method="POST" action="/quote/new">
      Quote Text:
      <textarea name="quoteText" rows="4" cols="50"></textarea><br>
      
      Author:<br>
    <select name="authorId" required>
      <% authors.forEach(author => { %>
        <option value="<%= author.authorId %>"><%= author.firstName %> <%= author.lastName %></option>
      <% }) %>
    </select>
    <br>

    Category:<br>
    <select name="category" required>
      <% categories.forEach(cat => { %>
        <option value="<%= cat %>"><%= cat %></option>
      <% }) %>
    </select>
    <br>

    Likes:<br>
    <input type="number" name="likes" value="0">
    <br><br>

      
      <button>Add Quote</button>
    </form>

    <% if (typeof message != "undefined"){ %>
  		 <h3><%=message%></h3>
<% } %>

<%- include("partials/footer.ejs") %>